@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /*https://tailwindcss.com/docs/customizing-colors#using-css-variables*/

  --background: 0 0% 0%;
  --foreground: 0 0% 100%;
  --accent-1: 0 0% 7%;
  --accent-2: 0 0% 20%;
  --accent-3: 0 0% 27%;
  --accent-4: 0 0% 40%;
  --accent-5: 0 0% 53%;
  --accent-6: 0 0% 60%;
  --accent-7: 0 0% 92%;
  --accent-8: 0 0% 98%;
  --error: 0 100% 50%;
  --error-light: 0 100% 60%;
  --error-dark: 0 100% 45%;
  --error-lighter: 357 69% 90%;
  --success: 212 100% 48%;
  --success-light: 212 100% 60%;
  --success-dark: 213 94% 42%;
  --success-lighter: 215 100% 91%;
  --violet: 270 67% 47%;
  --violet-light: 261 55% 61%;
  --violet-dark: 262 55% 35%;
  --violet-lighter: 259 57% 87%;
  --cyan: 167 100% 74%;
  --cyan-light: 166 100% 83%;
  --cyan-dark: 167 80% 60%;
  --cyan-lighter: 174 100% 92%;
  --highlight-purple: 305 94% 54%;
  --highlight-pink: 330 100% 50%;
  --highlight-magenta: 336 82% 57%;
  --highlight-yellow: 58 100% 50%;

  /*Shadows*/
  --shadow-smallest: 0 0 0 1px hsl(var(--accent-2));
  --shadow-extra-small: 0 0 0 1px hsl(var(--accent-2));
  --shadow-small: 0 0 0 1px hsl(var(--accent-2));
  --shadow-medium: 0 0 0 1px hsl(var(--accent-2));
  --shadow-large: 0 0 0 1px hsl(var(--accent-2));
  --shadow-hover: 0 0 0 1px hsl(var(--foreground));
}

@layer base {
  body {
    @apply bg-background font-sans text-foreground antialiased;
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus {
    -webkit-text-fill-color: hsl(var(--foreground));
    -webkit-box-shadow: 0 0 0 40rem hsl(var(--background)) inset;
  }
}
